.App {
	text-align: center;

	.background-circle {
		height: 2em;
		width: 2em;
		background-color: #1ABC9C;
		color: #fff;
		border-radius: 50%;
		padding-top: .3em;
		font-size: 2.5em;
		margin: .5em auto .5em auto;
	}

	.highlight {
		background-color: #1ABC9C;
		color: #fff;
		padding: .3em;
		font-style: italic;
	}

}
