@import "../src/variables.scss";

.App {
	text-align: center;

	.background-circle {
		height: 2em;
		width: 2em;
		background-color: $truffle-teal;
		color: #fff;
		border-radius: 50%;
		padding-top: .3em;
		font-size: 2.5em;
		margin: .5em auto .5em auto;
	}

	.highlight {
		color: $truffle-teal;
		font-weight: bold;
	}

	hr {
		background-color: #dfdfdf;
		height: 1px;
		border: none;
		margin-top: 1em;
	}

}
